{{#swaggerAnnotations}}{{#description}}@ApiModel(description = "{{{description}}}")
{{/description}}{{/swaggerAnnotations}}{{#discriminator}}
{{>typeInfoAnnotation}}
interface {{classname}}{{/discriminator}}{{^discriminator}}data class {{classname}}(
{{#requiredVars}}
{{>dataClassReqVar}}{{^-last}},
{{/-last}}{{/requiredVars}}{{#hasRequired}}{{#hasOptional}},
{{/hasOptional}}{{/hasRequired}}{{#optionalVars}}{{>dataClassOptVar}}{{^-last}},
{{/-last}}{{/optionalVars}}
) {{/discriminator}}{{#parent}}: {{{parent}}}{{/parent}}{{#needsBody}}{
{{/needsBody}}{{#discriminator}}
    {{#requiredVars}}
        {{>interfaceReqVar}}
    {{/requiredVars}}
    {{#optionalVars}}
        {{>interfaceOptVar}}
    {{/optionalVars}}
{{/discriminator}}{{#hasEnums}}{{#vars}}{{#isEnum}}{{#description}}
    @ApiModel(description = "{{{description}}}"){{/description}}
    enum class {{nameInCamelCase}}(val value: {{{dataType}}}) {
    {{#allowableValues}}{{#enumVars}}
        @JsonProperty("{{{value}}}")
        {{{name}}}("{{{value}}}"){{^-last}},
{{/-last}}{{#-last}};{{/-last}}{{/enumVars}}{{/allowableValues}}
    }{{/isEnum}}{{/vars}}{{/hasEnums}}{{#needsBody}}
}{{/needsBody}}