{{#useBeanValidation}}{{#required}}
    {{^isReadOnly}}@get:NotNull{{/isReadOnly}} {{/required}}{{>beanValidationModel}}{{/useBeanValidation}}{{#swaggerAnnotations}}
    @ApiModelProperty({{^exampleEmpty}}example = "{{{example}}}", {{/exampleEmpty}}{{#required}}required = {{required}}, {{/required}}{{#isReadOnly}}readOnly = {{{isReadOnly}}}, {{/isReadOnly}}value = "{{{description}}}"){{/swaggerAnnotations}}
    @JsonProperty("{{{baseName}}}"){{#isInherited}} override{{/isInherited}} val {{{name}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}? = {{#isEnum}}{{#defaultValue}}{{classname}}.{{nameInCamelCase}}.{{defaultValue}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/isEnum}}{{^isEnum}}{{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/isEnum}}